@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calcContainer {
  width: 200px;
  border-radius: 5px;
  /* overflow: hidden; */
  -webkit-box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
  display: left;
}

.display {
  background-color: #282528;
  color: #fff;
  text-align: end;
  margin: 0;
  padding: 10px 10px 3px 10px;
  font-size: 1.5em;
}

.keyContainer {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  border-color: white;
}

.btn {
  width: 50px;
  height: 40px;
  background-color: black;
  color: #fff;
  border: 1px red;
  font-size: 1.1em;
}

.wide {
  width: 150px;
}

.clear {
  background-color: red;
}

.zero {
  width: 100px;
}

.operator {
  background-color: red;
}

.myCalc {
  font-family: 'Special Elite', cursive;
}

h1 {
  font-family: 'Special Elite', cursive;
}